
<div id="wrapper" class="container">
	<div id="menu" class="container">
		<ul>
			<li ><a href="#" accesskey="1" title="">Homepage</a></li>
			<li class="current_page_item"><a href="#/vms" accesskey="1" title="">Compute Engine</a></li>
			<li><a href="#" accesskey="2" title="">Datastore</a></li>
			<li><a href="#" accesskey="3" title="">About Us</a></li>
			
			<li><a href="#" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>

	
	
</div>
<div id="page1" >
	<p > <br><br><font size="3" >Destroy virtual machine instance </font></p>
	<form name="vmdestroy" method="post">
	
	Instance <select id="instance_destroy" name="instance_type">            
		  <option  ng-repeat="vm in vms | filter:query | orderBy:orderProp" data-ng-model="vmachine.typedestroy" value={{vm.id}}> name : {{vm.name}} id : {{vm.id}} Type : {{vm.instance}}</option>
	 </select>
	<br>
	
	<br>
	<input type="submit" value="Destroy" data-ng-click="save(vmdestroy)" onclick="DestroyedCtrl()">
	</form>
</div>
