<div id="wrapper" class="container">
	<div id="menu" class="container">
		<ul>
			<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
			<li><a href="#/vms" accesskey="1" title="">Compute Engine</a></li>
			<li><a href="#/volume" accesskey="2" title="">Datastore</a></li>
			<li><a href="#" accesskey="3" title="">About Us</a></li>
			
			<li><a href="#" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>

	
	
</div>
<div id="page">
		<div><span class="arrow-down"></span></div>
		<div id="box1">
			<div class="title">
				<h2>Welcome to MesRon Compute Engine</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
			<p>This is <strong>MesRonCompute</strong>, a free Platform to enable any business or developer to use MesRon’s infrastructure for their applications</a>.  </p>
			<a href="#/vms" class="button">Learn More</a>
		</div>
		<div id="box2">
			<div class="title">
				<h2>Welcome to MesRon Datastore</h2>
				<p>This is <strong>MesRonDatastore</strong><span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
			<p>a fully managed solution for storing non-relational data.</p>	
			<a href="#/volume" class="button">Learn More</a>
		</div>
</div>
