
<div id="wrapper" class="container">
	<div id="menu" class="container">
		<ul>
			<li ><a href="#" accesskey="1" title="">Homepage</a></li>
			<li ><a href="#/vms" accesskey="1" title="">Compute Engine</a></li>
			<li class="current_page_item"><a  href="#/volume"  accesskey="2" title="">Datastore</a></li>
			<li><a href="#" accesskey="3" title="">About Us</a></li>
			
			<li><a href="#" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>

	
	
</div>
<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		<div id="tbox1"> <span class="icon icon-dropbox"></span>
			<div class="title">
				<h2>Create Storage</h2>
			</div>
			<p>Easy and Fast way to create your Datastore.</p>
			<a href="#/createstorage" class="button">Learn More</a> </div>


		<div id="tbox2"> <span class="icon icon-trash"></span>
			
		<div class="title">
				<h2>Destroy Storage</h2>
			</div>
			<p>Destroy already created Datastore.</p>
			<a href="#/destroystorage" class="button">Learn More</a> </div>


		<div id="tbox3"> <span class="icon icon-info-sign"></span>
			<div class="title">

				<h2>My Datastores</h2>
			</div>
			<p>See your virtual machines instances .</p>
			<a href="#/managestorage" class="button">Learn More</a> </div>

		<div id="tbox3"> <span class="icon icon-magnet"></span>
			<div class="title">

				<h2>Attach to virtual machines</h2>
			</div>
			<p>Attach my datastore to virtual machines.</p>
			<a href="#/attach" class="button">Learn More</a> </div>

		<div id="tbox3"> <span class="icon icon-hdd"></span>
			<div class="title">

				<h2>Detach from virtual machines</h2>
			</div>
			<p>Detach my datastore from virtual machines.</p>
			<a href="#/detach" class="button">Learn More</a> </div>
		<div id="tbox3"> <span class="icon icon-file"></span>
			<div class="title">

				<h2>Format Datastore and mount</h2>
			</div>
			<p>Format datastore to filesystem and mount.</p>
			<a href="#/format" class="button">Learn More</a> </div>
</div>
		
